body{
    margin:0;
}
.fv {
    width: 100%;
    
}
.fv img {
    width: 640px;
    margin: 0 auto;
    display: block;
}
.fv .mainview{
    width: 840px;
}

@media screen and (max-width: 768px){
    .fv img {
        width: 100%;
    }
    .fv .mainview{
        width: 100%;
    }
}
.SP{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.SP{
    display: block;
}
}